# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
weather = pd.read_csv("weather.csv")
print(weather)
print(weather.info())

                City Country      Lat      Long   Temp  Humidity  Cloudiness  \
0          Busselton      AU -33.6500  115.3333  63.59        59           0
1         The Valley      AI  18.2170  -63.0578  82.26        76          18
2              Bluff      NZ -46.6000  168.3333  53.80        62          15
3          Ketchikan      US  55.3422 -131.6461  55.87        94          75
4    Arraial do Cabo      BR -22.9661  -42.0278  70.77        84         100
..               ...     ...      ...       ...    ...       ...         ...
566          Honiara      SB  -9.4333  159.9500  86.47        66          14
567    Partizanskoye      RU  55.5006   94.3900  38.03        76         100
568      Henties Bay     NaN -22.1160   14.2845  54.86        81           0
569    Porto-Vecchio      FR  41.5910    9.2795  65.84        77           0
570            Bilma      NE  18.6853   12.9164  85.86        13          95

     Wind Speed
0          2.42
1         13.27
2         19.30
3         12.66
4         28.19
..          ...
566        6.06
567       12.68
568        2.80
569        6.91
570        5.23

[571 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        571 non-null    object
 1   Country     566 non-null    object
 2   Lat         571 non-null    float64
 3   Long        571 non-null    float64
 4   Temp        571 non-null    float64
 5   Humidity    571 non-null    int64
 6   Cloudiness  571 non-null    int64
 7   Wind Speed  571 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 35.8+ KB
None

In [10]:
filepath = os.path.join('weather.csv')
weather2_df = pd.read_csv(filepath)
weather2_df.head()

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed
0,Busselton,AU,-33.6500,115.3333,63.59,59,0,2.42
1,The Valley,AI,18.2170,-63.0578,82.26,76,18,13.27
2,Bluff,NZ,-46.6000,168.3333,53.80,62,15,19.30
3,Ketchikan,US,55.3422,-131.6461,55.87,94,75,12.66
4,Arraial do Cabo,BR,-22.9661,-42.0278,70.77,84,100,28.19

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
# Access maps with unique API key

src="https://maps.googleapis.com/maps/api/js?key=api_keys"


locations = weather2_df[['Lat', 'Long']]
humidity = weather2_df['Humidity']
intensity = humidity.max()

# Plot heat map
figure = gmaps.figure(center=(51.5, 0.1), zoom_level=2)

# Make a heat layer
layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=intensity, point_radius=3)

# Add the layer to the heat map
figure.add_layer(layer)

# Display
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* Max temp lower than 80 but higher than 70
* wind speed less than 10
* zero cloudiness
* drop any ros that do not contain all 3 conditions, I want an Ideal weather

In [13]:
criteria_df = weather2_df[(weather2_df['Temp'] > 70)
                          &(weather2_df['Temp'] < 80)
                          &(weather2_df['Wind Speed'] < 10)
                          &(weather2_df['Cloudiness'] < 20)].dropna()

                         
criteria_df.head()

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed
53,Faanui,PF,-16.4833,-151.7500,78.30,72,10,5.14
81,Sinazongwe,ZM,-17.2614,27.4618,71.46,35,6,1.68
123,Kiryat Gat,IL,31.6100,34.7642,73.62,76,0,1.45
125,Vao,NC,-22.6667,167.4833,71.94,78,6,8.63
159,Buraidah,SA,26.3260,43.9750,75.65,24,1,3.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = criteria_df.reset_index(drop=True)
hotel_df["Hotel Name"] = " "
hotel_df

# Make a params dictionary to update each iteration
params = {
    'radius': 50000,
    'types': 'hotel',
    'keyword': 'hotel',
    'key': g_key
}

hotel_df

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Faanui,PF,-16.4833,-151.7500,78.30,72,10,5.14,
1,Sinazongwe,ZM,-17.2614,27.4618,71.46,35,6,1.68,
2,Kiryat Gat,IL,31.6100,34.7642,73.62,76,0,1.45,
3,Vao,NC,-22.6667,167.4833,71.94,78,6,8.63,
4,Buraidah,SA,26.3260,43.9750,75.65,24,1,3.76,
5,Riyadh,SA,24.6877,46.7219,77.14,18,0,8.39,
6,Tevaitoa,PF,-16.7833,-151.5000,78.69,71,1,6.11,
7,Angoche,MZ,-16.2325,39.9086,71.94,87,11,0.72,
8,Carnarvon,AU,-24.8667,113.6333,71.67,33,0,4.61,
9,Nísia Floresta,BR,-6.0911,-35.2086,79.18,91,6,5.64,
10,Bandar-e Anzali,IR,37.4727,49.4622,70.41,82,0,2.19,
11,Gijang,KR,35.2442,129.2139,74.93,71,0,9.73,
12,Elko,US,41.0002,-115.5012,78.82,16,0,1.66,
13,Shakawe,BW,-18.3667,21.8500,70.83,24,5,5.99,
14,Binzhou,CN,37.3667,118.0167,72.00,64,0,3.42,
15,São Filipe,CV,14.8961,-24.4956,79.18,81,7,9.33,
16,Fallon,US,39.4735,-118.7774,78.42,15,0,4.21,
17,Lompoc,US,34.6391,-120.4579,71.06,87,1,6.91,
18,Mouzourás,GR,35.5333,24.1500,71.60,94,0,0.00,
19,Monte Gordo,PT,37.1819,-7.4523,71.26,80,0,4.27,
20,Ponnāni,IN,10.7670,75.9252,78.12,88,18,5.82,
21,Huicungo,PE,-7.2833,-76.8000,73.45,85,12,2.33,
22,Pacific Grove,US,36.6177,-121.9166,70.93,61,1,4.00,
23,Xishan,CN,27.6667,113.5000,75.09,52,0,2.95,
24,Mitsamiouli,KM,-11.3847,43.2844,75.67,76,7,5.88,
25,Sinjār,IQ,36.3209,41.8754,78.33,20,0,8.46,
26,Mayo,US,38.8876,-76.5119,74.07,82,1,8.01,
27,Shenjiamen,CN,29.9576,122.2980,78.91,72,0,2.33,
28,Meybod,IR,32.2501,54.0166,77.02,16,4,4.97,
29,Laiwu,CN,36.1928,117.6569,74.93,63,0,2.75,
30,Nkhotakota,MW,-12.9274,34.2961,71.64,55,0,4.32,

In [20]:
for index, row in hotel_df.iterrows():
    
    params['location'] = f"{row['Lat']},{row['Long']}"

    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    response = requests.get(url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    except (KeyError, IndexError):
        print('Missing field/result... skipping.')

hotel_df

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Faanui,PF,-16.4833,-151.7500,78.30,72,10,5.14,InterContinental Bora Bora Resort Thalasso Spa
1,Sinazongwe,ZM,-17.2614,27.4618,71.46,35,6,1.68,Masumu River Lodge
2,Kiryat Gat,IL,31.6100,34.7642,73.62,76,0,1.45,King David Hotel
3,Vao,NC,-22.6667,167.4833,71.94,78,6,8.63,OURE TERA beach resort
4,Buraidah,SA,26.3260,43.9750,75.65,24,1,3.76,Best Western Plus Buraidah
5,Riyadh,SA,24.6877,46.7219,77.14,18,0,8.39,Four Seasons Hotel Riyadh At Kingdom Center
6,Tevaitoa,PF,-16.7833,-151.5000,78.69,71,1,6.11,InterContinental Bora Bora Resort Thalasso Spa
7,Angoche,MZ,-16.2325,39.9086,71.94,87,11,0.72,Hotel Chando Angoche
8,Carnarvon,AU,-24.8667,113.6333,71.67,33,0,4.61,Carnarvon Motel
9,Nísia Floresta,BR,-6.0911,-35.2086,79.18,91,6,5.64,SERHS Natal
10,Bandar-e Anzali,IR,37.4727,49.4622,70.41,82,0,2.19,Grand Hotel
11,Gijang,KR,35.2442,129.2139,74.93,71,0,9.73,Lotte Hotel Busan
12,Elko,US,41.0002,-115.5012,78.82,16,0,1.66,Best Western Elko Inn
13,Shakawe,BW,-18.3667,21.8500,70.83,24,5,5.99,Shametu River Lodge & Campsite
14,Binzhou,CN,37.3667,118.0167,72.00,64,0,3.42,Wanda Realm
15,São Filipe,CV,14.8961,-24.4956,79.18,81,7,9.33,Hotel Santos Pina
16,Fallon,US,39.4735,-118.7774,78.42,15,0,4.21,Comfort Inn & Suites Near Fallon Naval Air Sta...
17,Lompoc,US,34.6391,-120.4579,71.06,87,1,6.91,Santa Maria Inn
18,Mouzourás,GR,35.5333,24.1500,71.60,94,0,0.00,Kalyves Beach Hotel
19,Monte Gordo,PT,37.1819,-7.4523,71.26,80,0,4.27,Garden Playanatural Hotel & Spa
20,Ponnāni,IN,10.7670,75.9252,78.12,88,18,5.82,Hyatt Regency Thrissur
21,Huicungo,PE,-7.2833,-76.8000,73.45,85,12,2.33,Hostal Capricornio
22,Pacific Grove,US,36.6177,-121.9166,70.93,61,1,4.00,The Monterey Hotel
23,Xishan,CN,27.6667,113.5000,75.09,52,0,2.95,Zhuzhou Marriott Hotel
24,Mitsamiouli,KM,-11.3847,43.2844,75.67,76,7,5.88,Al Camar Lodge
25,Sinjār,IQ,36.3209,41.8754,78.33,20,0,8.46,احمد عسكر
26,Mayo,US,38.8876,-76.5119,74.07,82,1,8.01,"Country Inn & Suites by Radisson, Washington, ..."
27,Shenjiamen,CN,29.9576,122.2980,78.91,72,0,2.33,Sheraton Zhoushan Hotel
28,Meybod,IR,32.2501,54.0166,77.02,16,4,4.97,hotel siavash
29,Laiwu,CN,36.1928,117.6569,74.93,63,0,2.75,Four Points by Sheraton Tai'an
30,Nkhotakota,MW,-12.9274,34.2961,71.64,55,0,4.32,Rafiki Safari Camp

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [23]:
src="https://maps.googleapis.com/maps/api/js?key=api_keys"


locations = weather2_df[['Lat', 'Long']]
humidity = weather2_df['Humidity']
intensity = humidity.max()

# Plot heat map
figure = gmaps.figure(center=(51.5, 0.1), zoom_level=2)

layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=intensity, point_radius=3)

figure.add_layer(layer)

# Display
figure

# Add marker layer ontop of heat map
layer = gmaps

# Display figure

Figure(layout=FigureLayout(height='420px'))